<article class="detail-article">
  <h1 class="article-detail-title"><%= @article.title %></h1>
  
  <div class="glyphicon glyphicon-calender" id="article-date">
    <%= @article.created_at.strftime("%b %d %Y") %>
  </div>
  
  <div class="article-body">
    <%= @article.body %>
  </div>
  
  <div class="edit-delete">
    <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-primary btn-lg btn-space" %>
    <%= link_to "Delete Article", article_path(@article), method: :delete,
        data: { confirm: "Are you sure you want to delete article?" },
        class: "btn btn-primary btn-lg btn-space" %>
  </div>
</article>